.keret {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
    background-colour: rgba(255,255,255,.7);
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}

.jobbrakep {
    float: right;
    width: 300px;
    height: 300px;
    margin-bottom:20px;
    margin-left: 20px;
}

body{
background-image: url ("hatterkep.jpg");
text-align: ustify;
}
p{
font-family:"sans-serif";
}
.forrás{
font-size: 10px;
font-style: italic;
float: right;
}